@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-brand-orange: #F2994A;
  --color-brand-green: #107C41;
  --font-display: var(--font-display), sans-serif;
  --font-sans: var(--font-sans), sans-serif;
}
